# Environment variables
.env

# IDE / Editor
.vscode/

# Python
__pycache__/

# Data
data/raw/
data/external/
data/processed/
*.xlsx
*.pkl

# Temporary / Backup files
~*

# OS files
.DS_Store


# Notebooks dump
notebooks/DUMP.ipynb