# Environment variables
.env

# IDE / Editor
.vscode/

# Python
__pycache__/

# Data
data/raw/

*.xlsx
*.pkl

# Temporary / Backup files
~*

# OS files
.DS_Store

# Dynamical model .m and .mat
notebooks/*.m
data/external/
